body{
    font-family: 'Inter';
}

.earth-logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

nav{
    background-color: #F55A5A;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    
}

.place-img{
    width: 230px;
    height: 280px;
    border-radius: 20px;
    margin-right: 5%;
}

.place-container{
    display: flex;
    align-items: center;
    margin: 10% 10% 0 10% ;
}

.place-detail{
    width: 60% ;
}

.title-text{
    font-weight: 700;
    font-size: 3rem;
    margin-top: 5px;
}

.location-text{
    font-weight: 400;
    font-size: 1.2rem;
}

.description-text{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
}

.googlemap-text{
    color:#918E9B;
}